#parent {
  background-color: black;
  width: 408px;
  height: 209px;
  /* display: inline-block; */
  position:absolute;
  padding: 2px;
}

.piece {
  background-color: #66320E;
  width: 100px;
  height: 100px;
  float: left;
  margin: 1px;
}

#red-bar {
  background-color:darkred;
  width: 100%;
  height: 5px;
  clear: left;
}
